{% set title = "All photos" %}
{% set subtitle = "By date, descending" %}

{% include "page-top.html" %}

{% set locals = namespace() %}


<div class="photo-feed">
    {% set locals.im_date = "" %}
    {% for item in images %}
        {% set newdate = item.date.strftime("%b %d, %Y") %}
        {% if newdate != locals.im_date %}
            {% set locals.im_date = newdate %}
            <div class="feed-divider year"><h4>{{ locals.im_date }}</h4></div>
        {% endif %}
        <div class="photo">
            <a href="/photo/{{ item.uuid }}">
                <img src="thumb/set/feed/{{ item.uuid }}.jpg" />
            </a>
        </div>
    {% endfor %}
    <br style="clear:both" />
    {% if page > 0 %}<a href="feed?page={{ page - 1 }}">Previous</a> {% endif %}<a href="feed?page={{ page + 1 }}">Next</a>
</div>

{% include "page-bottom.html" %}
