{% set title = "Server statistics" %}

{% include "page-top.html" %}

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>year</th>
            <th>month</th>
            <th>count</th>
        </tr>
    </thead>
    <tbody>
        {% for row in images %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[0]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "page-bottom.html" %}
