{% extends "page.html" %}
{% block title %}Server statistics{% endblock %}
{% block subtitle %}{% endblock %}
{% block buttons %}{% endblock %}

{% block body %}

{% set locals = namespace() %}

{% set locals.total_images = 0 %}

<div>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>year</th>
                <th>month</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            {% for row in images %}
                <tr>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{"{:,}".format(row[0])}}{% set locals.total_images = locals.total_images + row[0]|int %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>{{ "{:,}".format(locals.total_images) }} Files - {{ tsize | filesizeformat }}</p>

</div>

{% endblock %}
