<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }} :: {% endif %}Photo App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="layout" class="content pure-g">
        <div id="nav" class="pure-u">
            <a href="#" class="nav-menu-button">Menu</a>
            <div class="nav-inner">
                <div class="pure-menu">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="/" class="pure-menu-link">All photos</a></li>
                        <li class="pure-menu-item"><a href="/albums" class="pure-menu-link">Albums</a></li>
                        <li class="pure-menu-item"><a href="/date" class="pure-menu-link">Dates</a></li>
                        <li class="pure-menu-item"><a href="/monthly" class="pure-menu-link">Stats</a></li>
                        <li class="pure-menu-item"><a href="/map" class="pure-menu-link">Map</a></li>
                        <li class="pure-menu-item"><a href="/admin/trash" class="pure-menu-link">Trash</a></li>
                        <li class="pure-menu-heading">Albums</li>
                        {% for tag in all_albums %}
                            <li class="pure-menu-item"><a href="/album/{{ tag.uuid }}" class="pure-menu-link"><span class="tag-icon tag-icon-mod-6-{{ tag.id % 6 }}"></span>{{ tag.title }}</a></li>
                        {% endfor %}
                        <li class="pure-menu-heading">Tags</li>
                        {% for tag in all_tags %}
                            <li class="pure-menu-item"><a href="/tag/{{ tag.uuid }}" class="pure-menu-link"><span class="tag-icon tag-icon-mod-6-{{ tag.id % 6 }}"></span>{{ tag.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="main" class="pure-u-1">
            <div class="email-content">
                <div class="email-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="email-content-title">{{ title }}</h1>
                        <p class="email-content-subtitle">
                            {{ subtitle }}
                        </p>
                    </div>
                    <div class="email-content-controls pure-u-1-2">
                    {% block buttons %}
                        <button class="secondary-button pure-button">420</button>
                        <button class="secondary-button pure-button">Blaze</button>
                        <button class="secondary-button pure-button">It</button>
                    {% endblock %}
                    </div>
                </div>
                <div class="email-content-body">
                    {% block body %}default body{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
