{% set title = "Placeholder Title" %}
{% set subtitle = image.uuid %}

{% include "page-top.html" %}

<div class="photo-view pure-g">
    <div class="photo-preview pure-u-2-3">
        <a href="/thumb/set/big/{{ image.uuid }}.jpg">
            <img src="/thumb/set/preview/{{ image.uuid }}.jpg" />
        </a>
    </div>
    <div class="photo-info pure-u-1-3">
        <div class="photo-metadata">
            <h2>Information</h2>
            <ul>
                <li><strong>Date:</strong> {{ image.date }} </li>
                <li><strong>Versions:</strong> {{ image.files|length }}</li>
                {% if image.lat != 0 %}
                <li><strong>Coordinates:</strong> <a href="/map?zoom=13&i={{ image.uuid }}">{{ image.lat }}, {{ image.lon }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="photo-formats">
            <h2>Versions</h2>
            <ul class="pure-g">
            {% for img in image.files %}
                <li class="pure-u-1 pure-g">
                    <a href="/thumb/one/big/{{ img.uuid }}.jpg" class="pure-g-1-4">
                        <img src="/thumb/one/small/{{ img.uuid }}.jpg" />
                    </a>
                    <div class="pure-u-3-4">
                        <div>
                                {{ img.uuid }}
                        </div>
                        <div>
                            {{ img.path | basename }}
                        </div>
                        <div>
                            {{ img.size | filesizeformat }} - {{ img.format }}
                        </div>
                        <div>
                            <a href="/download/one/{{ img.uuid }}">download</a>
                            <a href="/download/one/{{ img.uuid }}.{{ mime2ext(img.format) }}?preview=true">preview</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% include "page-bottom.html" %}
